{{ tablet }} <br>
Height: {{ tablet.height }} mm <br>
Width: {{ tablet.width }} mm <br>
Depth: {{ tablet.depth }} mm <br>
Weight: {{tablet.weight }} g <br>
<img src="{{ MEDIA_URL }}{{ tablet.front_img.name }}" height={{ tablet.front_img.height }} width={{ tablet.front_img.width }} />
