<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "script/tablet.js" %}"></script>

  </head>

  <body>
  {% block content %}

  {% endblock %}
  </body>

  <script type="text/javascript">
  {% block script %}

  {% endblock %}

  </script>
</html>
